In [4]:
import pandas as pd
import os

In [10]:
df = pd.read_csv("active-addresses_csv.csv")

In [9]:
%ls

 Volume in drive C is X
 Volume Serial Number is 3845-C00A

 Directory of C:\Users\JM\Desktop\glassnode

06/20/2021  05:26 PM    <DIR>          .
06/20/2021  05:26 PM    <DIR>          ..
06/20/2021  05:24 PM    <DIR>          .ipynb_checkpoints
06/20/2021  04:37 PM           146,368 active-addresses_csv.csv
06/20/2021  05:07 PM               489 futures-open-interest-current.csv
06/20/2021  05:26 PM               829 Untitled.ipynb
               3 File(s)        147,686 bytes
               3 Dir(s)  31,625,519,104 bytes free

In [11]:
df

                         t       v
0     2009-01-03T00:00:00Z       0
1     2009-01-04T00:00:00Z       0
2     2009-01-05T00:00:00Z       0
3     2009-01-06T00:00:00Z       0
4     2009-01-07T00:00:00Z       0
...                    ...     ...
4546  2021-06-15T00:00:00Z  982683
4547  2021-06-16T00:00:00Z  951330
4548  2021-06-17T00:00:00Z  864257
4549  2021-06-18T00:00:00Z  816930
4550  2021-06-19T00:00:00Z  693944

[4551 rows x 2 columns]